* {
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 5%;
    background-color: #F5CB00;
}

.nav-logo img {
    width: 5vw;
}

.nav-enlaces a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    padding-left: 50px;
    font-weight: bold;
}

.seccion-1 {
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 0 6.5%;
    height: 89vh;
}

.seccion-1-imagen img {
    width: 150vw;
}

.seccion-1-texto {
    max-width: 600px;
}

.seccion-1-titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
    line-height: 80%;
    font-size: 8rem;
}

.seccion-1-parrafo {
    font-size: 1.3rem;
    margin: 5% 0;
}

.seccion-1-boton {
    border: none;
    background: #F5CB00;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 2% 7%;
}

.seccion-2 {
    height: 60vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #FFFF 50%, #F5CB00 50%);
}

.seccion-2-tarjeta {
    display: flex;
    align-items: center;
    background-color: #E6E6E6;
    height: 90%;
    width: 80%;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.15);
}

.seccion-2-texto {
    max-width: 350px;
}

.seccion-2-titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
    color: #F5CB00;
    font-size: 5.5rem;
    line-height: 90%;
}

.seccion-2-parrafo {
    font-size: 1.3rem;
    margin: 3% 0;
}

.seccion-2-boton {
    background: transparent;
    border: none;
    padding: 0%;
    font-size: 1.4rem;
    font-weight: bold;
}

.seccion-2-imagen {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    text-align: center;
}

.seccion-2-imagen img {
    width: 15vw;

}

.seccion-3 {
    background-color: #F5CB00;
    min-height: 85vh;
    padding: 0 6.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.seccion-3-texto {
    max-width: 40%;
}

.seccion-3-titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
    line-height: 100%;
    font-size: 8rem;
    margin: 0 0 20px 0;
    color: black;
}

.seccion-3-parrafo {
    font-size: 1.3rem;
    max-width: 400px;
    margin: 0 0 30px 0;
}

.seccion-3-boton {
    border: none;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 10px 25px;
    cursor: pointer;
}


.seccion-3-imagen img {
    width: 100%;
    height: auto;

}

.seccion-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    padding: 0 6.5%;
}

.seccion-4-tarjeta {
    display: flex;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.15);
}

.tarjeta-texto {
    background-color: #E6E6E6;
    width: 60%;
    padding: 2% 4%;

}

.tarjeta-imagen img {
    width: 55vw;
}

.tarjeta-titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.5rem;
    font-weight: lighter;
    color: #F5CB00;
}

.tarejeta-parrafo {
    font-size: 1.3rem;
    max-width: 440px;
    margin-bottom: 6%;
}

.tarjeta-boton {
    border: none;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 2% 7%;
}

.tarjeta-imagen-diagrama {
    margin-top: 5%;
    margin-left: 45%;
    width: 50%;
}

.seccion-5 {
    background-color: black;
    height: 120vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
}


.seccion-5-titulo {
    color: #F5CB00;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    font-weight: lighter;
    line-height: 0;
}

.seccion-5-parrafo {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    max-width: 770px;
}

.seccion-5 img {
    width: 60%;
}

.seccion-5-boton {
    background-color: #F5CB00;
    color: black;
    border: none;
    font-size: 1.3rem;
    padding: 1% 3%;
    font-weight: bold;
}

.seccion-6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.5%;
    height: 120vh;
}

.seccion-6-titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
    font-size: 6.5rem;
    max-width: 600px;
    line-height: 100px;
}

.seccion-6-parrafo {
    font-size: 1.3rem;
    max-width: 550px;
    margin: 8% 0;
}

.seccion-6-boton {
    background-color: #F5CB00;
    color: black;
    border: none;
    font-size: 1.3rem;
    padding: 2% 8%;
    font-weight: bold;
}

.seccion-6-imagen img {
    width: 300%;
}


.seccion-7 {
    background-color: #E6E6E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.5%;
    height: 120vh;
}

.seccion-7-titulo {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
    font-size: 6.5rem;
    max-width: 600px;
    line-height: 100px;
}

.seccion-7-parrafo {
    font-size: 1.3rem;
    max-width: 550px;
    margin: 8% 0;
}

.seccion-7-boton {
    background-color: #F5CB00;
    color: black;
    border: none;
    font-size: 1.3rem;
    padding: 2% 8%;
    font-weight: bold;
}

.seccion-7-imagen img {
    width: 300%;
}

.seccion-8 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120vh;
    padding: 0 10.5%;
}

.seccion-8-formulario {
    background-color: #000;
    color: white;
    padding: 5%;
}

.formulario label {
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 20px;
    outline: none;
}

.fila {
    display: flex;
    gap: 20px;
}

.campo {
    flex: 1;
}

.texto-final {
    font-size: 0.9rem;
    color: white;
    line-height: 1.6;
    max-width: 600px;
}

.seccion-8-titulo {
    color: #F5CB00;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    font-weight: lighter;
    max-width: 350px;
}

.seccion-8-parrafo {
    font-size: 1.5rem;
    max-width: 550px;
    margin-bottom: 10%;
}

.seccion-8-boton {
    background-color: #000000;
    color: white;
    border: none;
    font-size: 1.3rem;
    padding: 2% 8%;
    font-weight: bold;
}

.seccion-9 {
    background-color: #F5CB00;
    height: 106vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.seccion-9-titulo {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
}

.seccion-9-parrafo {
    text-align: center;
    font-size: 1.3rem;
}

.seccion-9 img {
    width: 79.5%;
}

.seccion-9-boton {
    background-color: black;
    color: white;
    border: none;
    font-size: 1.3rem;
    padding: 0.5% 2%;
}

footer {
    background-color: black;
}

.footer-parte-1 {
    padding: 0% 5%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-parte-1-1 {
    display: block;
    text-align: left;
}

.footer-parte-1-1 img {
    width: 150px;
}

.footer-parte-1-2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.parte-2-enlaces-1 a {
    color: #F5CB00;
    text-decoration: none;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.footer-hr {
    color: white;
    width: 90%;
    margin: 0 5%;
}

.parte-3 {
    color: #F5CB00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 20vh;
    font-size: 1.3rem;
}

.parte-3 i {
    color: #F5CB00;
    font-size: 2rem;
    padding-left: 20px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width : 1279px) {
    .nav-logo img {
        width: 10vw;
    }

    .seccion-1 {
        flex-direction: column;
        gap: 5%;
        height: 105vh;
        justify-content: center;
    }

    .seccion-1-imagen img {
        width: 100vw;
    }

    .seccion-1-texto {
        text-align: center;
    }

    .seccion-2 {
        height: 40vh;

    }

    .seccion-2-imagen {
        flex-direction: column;
        gap: 50px;
    }

    .seccion-2-imagen img {
        width: 15vw;

    }

    .seccion-3 {
        min-height: 105vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .seccion-3-texto {
        max-width: 70%;
        text-align: center;
    }


    .seccion-3-parrafo {
        max-width: 100%;
    }

    .seccion-4 {
        flex-direction: column;
        height: 60vh;
    }

    .tarjeta-imagen img {
        width: 50vw;
    }

    .tarjeta-titulo {
        font-size: 4rem;
    }

    .tarejeta-parrafo {
        font-size: 1.1rem;
    }

    .tarjeta-boton {
        font-size: 1.1rem;
    }

    .tarjeta-imagen-diagrama {
        margin-top: 2%;
        margin-left: 70%;
        width: 30%;
    }

    .seccion-5 {
        height: 60vh;
    }

    .seccion-6 {
        flex-direction: column;
        justify-content: space-around;
        ;
        height: 100vh;
    }

    .seccion-6-texto {
        text-align: center;
    }

    .seccion-6-titulo {
        line-height: 50px;
    }

    .seccion-7 {
        flex-direction: column;
        justify-content: space-around;
        ;
        height: 120vh;
    }

    .seccion-7-texto {
        text-align: center;
    }

    .seccion-7-titulo {
        line-height: 100px;
    }

    .seccion-8 {
        flex-direction: column;
        justify-content: space-around;
        height: 105vh;
        ;
    }

    .seccion-8-texto {
        text-align: center;
    }

    .seccion-8-titulo {
        max-width: 100%;
    }

    .seccion-9 {
        height: 60vh;
    }

    .footer-parte-1 {
        height: 50vh;
    }

    .parte-3 {
        height: 10vh;
    }

}

@media (max-width : 920px) {
    .seccion-1 {
        height: 130vh;
    }

    .seccion-1-imagen img {
        width: 90vw;
    }

    .seccion-2 {
        height: 50vh;

    }

    .seccion-3 {
        min-height: 130vh;
    }

    .seccion-3-texto {
        max-width: 100%;
    }

    .seccion-4 {
        height: 153vh;
    }

    .seccion-4-tarjeta {
        flex-direction: column;
    }

    .tarjeta-imagen img {
        width: 80vw;
    }

    .tarjeta-texto {
        width: 80vw;
    }

    .tarjeta-titulo {
        font-size: 6rem;
    }


    .seccion-5 {
        height: 85vh;
    }

    .seccion-5 img {
        width: 90vw;
    }

    .seccion-6 {
        height: 135vh;
    }

    .seccion-7 {
        height: 155vh;
    }

    .seccion-7-texto {
        text-align: center;
    }

    .seccion-7-titulo {
        line-height: 100px;
    }

    .seccion-8 {
        height: 150vh;
    }

    .seccion-9 {
        height: 75vh;
    }

    .footer-parte-1 {
        height: 50vh;
    }

    .parte-3 {
        height: 10vh;
    }

}

@media (max-width : 768px) {
    nav {
        flex-direction: column;
    }

    .nav-logo img {
        width: 15vw;
    }

    .nav-enlaces a {
        padding-left: 0px;
        font-size: 1rem;
    }

    .nav-logo img {
        width: 10vw;
    }

    .seccion-1 {
        height: 90vh;
    }

    .seccion-1-imagen img {
        width: 100vw;
    }

    .seccion-1-texto {
        text-align: center;
    }
.seccion-1-titulo{
    font-size: 5rem;
}
.seccion-1-parrafo{
    font-size: 1rem;
}

    .seccion-2 {
        height: 40vh;

    }

    .seccion-2-imagen {
        flex-direction: column;
        gap: 50px;
    }

    .seccion-2-imagen img {
        width: 15vw;

    }

    .seccion-3 {
        min-height: 105vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .seccion-3-texto {
        max-width: 70%;
        text-align: center;
    }


    .seccion-3-parrafo {
        max-width: 100%;
    }

    .seccion-4 {
        flex-direction: column;
        height: 60vh;
    }

    .tarjeta-imagen img {
        width: 50vw;
    }

    .tarjeta-titulo {
        font-size: 4rem;
    }

    .tarejeta-parrafo {
        font-size: 1.1rem;
    }

    .tarjeta-boton {
        font-size: 1.1rem;
    }

    .tarjeta-imagen-diagrama {
        margin-top: 2%;
        margin-left: 70%;
        width: 30%;
    }

    .seccion-5 {
        height: 60vh;
    }

    .seccion-6 {
        flex-direction: column;
        justify-content: space-around;
        ;
        height: 100vh;
    }

    .seccion-6-texto {
        text-align: center;
    }

    .seccion-6-titulo {
        line-height: 50px;
    }

    .seccion-7 {
        flex-direction: column;
        justify-content: space-around;
        ;
        height: 120vh;
    }

    .seccion-7-texto {
        text-align: center;
    }

    .seccion-7-titulo {
        line-height: 100px;
    }

    .seccion-8 {
        flex-direction: column;
        justify-content: space-around;
        height: 105vh;
        ;
    }

    .seccion-8-texto {
        text-align: center;
    }

    .seccion-8-titulo {
        max-width: 100%;
    }

    .seccion-9 {
        height: 60vh;
    }

    .footer-parte-1 {
        height: 50vh;
    }

    .parte-3 {
        height: 10vh;
    }

}